.number_one{
    width: 100%;
    overflow: hidden;
    .page_box{
        width: 100%;
        overflow: hidden;
        .span{
            width: 12.5%;
            line-height: 40px;
            text-align: center;
            float: left;
            cursor: pointer;
            border-right: 1px solid #ddd;
        }
        .spanchoose{
            background-color:rgb(24, 144, 255);
            color: #ffffff;
        }
    }
}